/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

footer div{
	text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#forum .pagination {
    margin: 0px;
}

#forum .table>thead>tr>th.active,
#forum .table>thead>tr.active>th {
    background-color: transparent;
}

#forum .table-striped>tbody>tr:nth-child(even)>td,
#forum .table-striped>tbody>tr:nth-child(even)>th {
    background-color: transparent;
}

#edit-notify-type .form-item-notify-type {
    display: block;
    margin-bottom: 1em;
}
